{% extends 'base.html' %}

{% block title %}
About | Karunya Eye Hospital
{% endblock %}

{% block content %}
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-left">
          <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Start -->
<section class="section about">
  <div class="container">
    <div class="row align-items-center">
      <!-- Image Section: 50% Width -->
      <div class="col-lg-6 col-sm-12">
        <div class="about-img d-flex flex-column align-items-center">
          <img src="static/images/gallery/17.jpg" alt="" class="img-fluid mb-4" />
          <img src="static/images/gallery/15.jpg" alt="" class="img-fluid mb-4" />
          <img src="static/images/shop.jpeg" alt="" class="img-fluid mb-4" />
          <img src="static/images/gallery/33 Q.jpg" alt="" class="img-fluid" />
        </div>
      </div>
      <!-- Content Section: 50% Width -->
      <div class="col-lg-6 col-sm-12">
        <div class="about-content pl-4 mt-4 mt-lg-0">
          <h2 class="title-color">About Karunya Eye Hospital</h2>
          <p class="mt-4 mb-5">Karunya Eye Hospital was Established in the year 1985 in the name and style as
            K.K.Opticals & Eye Clinic at Adoor, Pathanamthitta District, Kerala by Mr. Tilly B George, a pioneer in the
            field of Optical Lens, Frames and its accessories, has achieved remarkable growth for the past 40 years. His
            commitment, determination, hard work and vision of establishing a “Dream Center” of eye Hospital is now a
            reality. Karunya Eye Hospital (KEH), the present-day Specialty Eye Hospital at Adoor was established in the
            year 2008. KEH is one of most trusted eye Hospital hospitals in Adoor, Pathanamthitta District, Kerala State
            (India), committed to providing quality eye Hospital and treatment of eye disorders to all sections of
            society. Now we have Three most modern Centres at Adoor, Pandalam and Kottarakkara, offers all ophthalmic
            specialities, serving hundreds of patients every day. We have Eight highly qualified and dedicated Eye
            Specialists & surgeons, who provide a wide range of speciality ophthalmic Hospital. Our team of doctors
            provide Compassionate and comprehensive treatments to all patients visiting our Centres. KEH’s state-of-the
            art facilities, latest treatment techniques, highly experienced eye specialists, competent staff, and
            certified technicians allow us to provide superior eye Hospital for patients and attain the best possible
            results. A NABH Certified Eye Hospital, we are committed to providing the best services in eye Hospital
            through continual improvements of our systems, process, technology, and through the employment of dedicated
            and competent professionals of a progressive mindset. We offer the most advanced Eye Hospital Treatment. We
            combine the expertise of our team of Eye Surgeons, highly experienced in their specialties of Cataract,
            Retina, Glaucoma, Laser Eye Surgeries etc. Thousands of most advanced Painless MICS Cataract Surgeries
            (Phaco) have been performed in our Centres. KEH is conveniently located with easy access by road, rail and
            air. Thiruvananthapuram International Airport is only 95 km away and the nearest railway station is only 26
            km away from the hospital. The district headquarters, Pathanamthitta is also only 18 Kms away from the
            hospital. Main Central (MC) Road is passing through Adoor.</p>

          <a href="about" class="btn btn-main-2 btn-round-full btn-icon">Know more<i
              class="icofont-simple-right ml-3"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->

<section class="feature-page">
  <div class="container">
    <h2 class="text-center mb-5 title-color">Why Choose Karunya Eye Hospital?</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item mb-5 mb-lg-0">
          <img src="static/images/gallery/37 Q.jpg" alt="Compassionate and Personalized Hospital"
            class="img-fluid w-100" />
          <h4 class="mt-3">Compassionate and Personalized Hospital</h4>
          <p>We treat every patient like family, ensuring comfort, education, and informed decision-making for better
            eye health.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item mb-5 mb-lg-0">
          <h4 class="mt-3">Cutting Edge Technology</h4>
          <p>Equipped with modern diagnostic and surgical tools, enabling precise, safe procedures with faster recovery.
          </p>
          <img src="static/images/gallery/30 P.jpg" alt="Cutting Edge Technology" class="img-fluid w-100" />
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item mb-5 mb-lg-0">
          <img src="static/images/gallery/42 Q.jpg" alt="Affordable Quality Eye hospital" class="img-fluid w-100" />
          <h4 class="mt-3">Affordable Quality Eye Hospital</h4>
          <p>Accredited NABH centers providing high-quality treatment at pocket-friendly prices for all sections of
            society.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="about-block-item">
          <h4 class="mt-3">Experienced and Skilled Experts</h4>
          <p>Our dedicated team of specialists ensures superior Hospital with continuous training and expertise.</p>
          <img src="static/images/gallery/48 Q.jpg" alt="Experienced and Skilled Experts" class="img-fluid w-100" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="text-center mt-5">
    <h2 class="title-color">QUALITY POLICY</h2>
    <p class="mt-4 mb-5 justify-text">Karunya Eye Hospital is dedicated to delivering comprehensive, world-class eye
      Hospital in a safe and patient-centered environment. With a strong commitment to quality, professional ethics, and
      advanced medical expertise, we ensure the highest standards of diagnosis, treatment, and vision Hospital while
      continuously enhancing patient satisfaction through a robust Quality Management System.</p>
  </div>
</section>

<!-- Our Mission Start -->
<section class="section about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="about-content pr-4 mt-4 mt-lg-0">
          <h2 class="title-color">OUR MISSION</h2>
          <p class="mt-4 mb-5">To provide quality eye Hospital treatment to the people, as per our vision, by
            establishing as many centres as possible in both inside and outside India.</p>
          <a href="" class="btn btn-main-2 btn-round-full btn-icon">Learn More<i
              class="fa-solid fa-angles-right text-white"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="about-img">
          <img src="static/images/gallery/30 P.jpg" alt="" class="img-fluid" />
          <img src="static/images/gallery/12.jpg" alt="" class="img-fluid mt-4" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="about-img mt-4 mt-lg-0">
          <img src="static/images/gallery/48 Q.jpg" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Mission End -->

<!-- Our Vision Start -->
<section class="section about py-1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-sm-6">
        <div class="about-img">
          <img src="static/images/gallery/36 Q.jpg" alt="" class="img-fluid" />
          <img src="static/images/gallery/34 Q.jpg" alt="" class="img-fluid mt-4" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="about-img mt-4 mt-lg-0">
          <img src="static/images/gallery/42 Q.jpg" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="about-content pr-4 mt-4 mt-lg-0">
          <h2 class="title-color">OUR VISION</h2>
          <p class="mt-4 mb-5">Make available the advanced, higher and technology in the eye Hospital treatment to all
            needy people at affordable costs and accessible locations.</p>
          <a href="" class="btn btn-main-2 btn-round-full btn-icon">Learn More<i
              class="fa-solid fa-angles-right text-white"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Vision End -->

<section>
  <div class="text-center mt-5 approach-section">
    <h2 class="title-color">OUR APPROACH TO EYE HOSPITAL</h2>
    <div class="row mt-4">
      <!-- Card 1: Hospital with Compassion -->
      <div class="col-md-4">
        <div class="card border-0 approach-card">
          <img src="static/images/gallery/41 Q.jpg" alt="Hospital with Compassion"
            class="card-img-top rounded approach-img" />
          <div class="card-body">
            <h4 class="card-title">Hospital with Compassion</h4>
            <p class="card-text">We provide Hospital with a positive attitude, listen to patients, apologize for
              mistakes, and take corrective action.</p>
          </div>
        </div>
      </div>

      <!-- Card 2: Integrity and Excellence -->
      <div class="col-md-4">
        <div class="card border-0 approach-card">
          <img src="static/images/gallery/44 Q.jpg" alt="Integrity and Excellence"
            class="card-img-top rounded approach-img" />
          <div class="card-body">
            <h4 class="card-title">Integrity and Excellence</h4>
            <p class="card-text">We work as a team to provide comprehensive eye Hospital. We act ethically and take
              responsibility for everything we do.</p>
          </div>
        </div>
      </div>

      <!-- Card 3: Patient Safety -->
      <div class="col-md-4">
        <div class="card border-0 approach-card">
          <img src="static/images/gallery/38 Q.jpg" alt="Patient Safety" class="card-img-top rounded approach-img" />
          <div class="card-body">
            <h4 class="card-title">Patient Safety</h4>
            <p class="card-text">The safety of our patients and their families is our top priority. We implement and
              monitor NABH standards consistently.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="text-center mt-2 quality-section">
    <h2 class="title-color">OUR QUALITY OBJECTIVES</h2>
    <br />
    <div class="quality-list">
      <ul>
        <li>
          <i class="fa-solid fa-angles-right"></i> Regularly upgrade the quality services provided by the Hospital.
        </li>
        <li>
          <i class="fa-solid fa-angles-right"></i> Provide satisfactory customer service through continuous improvements
          of service quality.
        </li>
        <li>
          <i class="fa-solid fa-angles-right"></i> Achieve, sustain, and improve its reputation for excellence in
          medical treatment by using modern and effective methods.
        </li>
        <li>
          <i class="fa-solid fa-angles-right"></i> Continuously explore developments in surgery, medicine, and
          diagnosis, adopting the latest methods and medicines accordingly.
        </li>
        <li>
          <i class="fa-solid fa-angles-right"></i> Ensure the availability of adequate resources to sustain and maintain
          the quality assurance programme of the Hospital and continually improve its effectiveness.
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Start Government Projects Section -->
<section class="section clients">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-title text-center">
          <h2>GOVERNMENT PROJECTS</h2>
          <div class="divider mx-auto my-4"></div>
          <p>We are empaneled with following prestigious government projects to provide best care and treatment to the
            patients/beneficiaries visiting our hospital under respective schemes.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Client Logos Grid -->
  <div class="container">
    <div class="row clients-logo flex-nowrap flex-md-wrap overflow-x-auto overflow-md-visible pb-3">
      <!-- Client Items -->
      <div class="col-lg-3 col-md-3 col-8">
        <!-- Adjusted column size -->
        <div class="client-thumb text-center d-flex flex-column align-items-center h-200">
          <div class="logo-container">
            <img src="static/images/echs.png" alt="ECHS" class="img-fluid" />
          </div>
          <div class="logo-label fw-500">ECHS</div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-8">
        <div class="client-thumb text-center d-flex flex-column align-items-center h-200">
          <div class="logo-container">
            <img src="static/images/cghs.png" alt="CGHS" class="img-fluid" />
          </div>
          <br>
          <div class="logo-label fw-500">CGHS</div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-8">
        <div class="client-thumb text-center d-flex flex-column align-items-center h-200">
          <div class="logo-container">
            <img src="static/images/medisep.png" alt="MEDISEP" class="img-fluid" />
          </div>
          <br>
          <div class="logo-label fw-500">MEDISEP</div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-8">
        <div class="client-thumb text-center d-flex flex-column align-items-center h-200">
          <div class="logo-container">
            <img src="static/images/kasp.png" alt="KASP" class="img-fluid" />
          </div>
          <div class="logo-label fw-500">KASP</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}