{% extends 'base.html' %}

{% block title %}
Centres | Karunya Eye Hospital
{% endblock %}

{% block content %}
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"></span>
          <h1 class="text-capitalize mb-5 text-lg">Centres</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container my-5">
  <div class="row justify-content-center">
    <!-- ADOOR Card -->
    <div class="col-lg-4 col-md-6 mb-4 d-flex">
      <div class="service-item w-100 border rounded shadow p-4 d-flex flex-column justify-content-between"
        style="min-height: 100%;">
        <div>
          <div class="icon d-flex align-items-center">
            <i class="ri-map-2-line"></i>
            <h4 class="mt-3 mb-3 ms-2 text-center"> ADOOR</h4>
          </div>
          <div class="content">
            <p>
              <b>
                <i class="ri-map-pin-line"></i>CITY PLAZA, NEAR KSRTC STAND<br />
                ADOOR PO 691523<br />
                PATHANAMTHITTA DISTRICT, KERALA (INDIA)<br />
                <br />
                <i class="ri-phone-line"></i> 04734-226585<br />
                <i class="ri-smartphone-line"></i> 9745688850 / 9745688854<br />
                <br />
                <i class="ri-mail-line"></i> karunyaeyehospital@gmail.com
              </b>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- PANDALAM Card -->
    <div class="col-lg-4 col-md-6 mb-4 d-flex">
      <div class="service-item w-100 border rounded shadow p-4 d-flex flex-column justify-content-between"
        style="min-height: 100%;">
        <div>
          <div class="icon d-flex align-items-center">
            <i class="ri-map-2-line"></i>
            <h4 class="mt-3 mb-3 ms-2 text-center"> PANDALAM</h4>
          </div>
          <div class="content">
            <p>
              <b>
                <i class="ri-map-pin-line"></i>RAJA TOWER, NEAR POST OFFICE<br />
                PANDALAM PO 689 501<br />
                PATHANAMTHITTA DISTRICT, KERALA (INDIA)<br />
                <br />
                <i class="ri-phone-line"></i> 04734-256586<br />
                <i class="ri-smartphone-line"></i> 9526988851 / 9562988851<br />
                <br />
                <i class="ri-mail-line"></i> karunyaeyehospitalpdm@gmail.com
              </b>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- KOTTARAKKARA Card -->
    <div class="col-lg-4 col-md-6 mb-4 d-flex">
      <div class="service-item w-100 border rounded shadow p-4 d-flex flex-column justify-content-between"
        style="min-height: 100%;">
        <div>
          <div class="icon d-flex align-items-center">
            <i class="ri-map-2-line"></i>
            <h4 class="mt-3 mb-3 ms-2 text-center"> KOTTARAKKARA</h4>
          </div>
          <div class="content">
            <p>
              <b>
                <i class="ri-map-pin-line"></i>CROWN ARCADE,<br />
                PULAMON PO 691 531<br />
                KOTTARAKKARA<br />
                KOLLAM DISTRICT, KERALA (INDIA)<br />
                <br />
                <i class="ri-smartphone-line"></i> 9567298854 / 9746655851 / 9746642761<br />
                <br />
                <i class="ri-mail-line"></i> karunyaeyehospitalktr@gmail.com
              </b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}